<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Описание дела</title>
</head>
<body>
<h2>Дело №: <a th:text="${number}"></a></h2>
<h3>Имя дела: <a th:text="${name}"></a></h3>
<h3>Описание: <a th:text="${description}"></a></h3>
<hr>
<h2>Редактировать дело: </h2>
<!--<form th:method="POST" th:action="@{/add}" th:object="${task}">-->
<!--    <label for="name">Введите имя дела: </label>-->
<!--    <input type="text" th:field="*{name}" id="name"/>-->
<!--    <label for="description">Введите описание дела: </label>-->
<!--    <input type="text" th:field="*{description}" id="description"/>-->
<!--    <input type="submit" value="Добавить"/>-->
<!--</form>-->
</body>
</html>